ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    
}

li {
    
    float:right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: flex-end;
}

li a:hover {
    background-color: #111;
}
nav {
    margin: auto;
    background-color:red;
}
#name {
    display: flex;
    float: left;
    font-size: 25px;
    color:white;
    padding: 10px 16px;
}
body{
    margin:0;
    background-color:powderblue;
}
.pics{
    display: flex;
    color: red;
    justify-content: center;
}
.pics2{
    display: flex;
    color: red;
    justify-content: center;
    padding-top: 20px;
}
p{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}