#name {
    display: flex;
    float: left;
    font-size: 25px;
    color:white;
    padding: 10px 16px;
}
nav {
    margin: auto;
    background-color:red;
}

#donnyimg {
    display : flex;
    padding-top: 100px;
    justify-content: center;
}
#content{
    margin:auto;
    width:50%;
}
p{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo {
    display : flex;
    font-size: 25px;
    justify-content: center;
}

#title {
    display : flex;
    font-size: 25px;
    color:red;
    justify-content: center;
    padding-top: 30px;
}

.image {
    display : flex;
    justify-content: center;
    align-content: center;
    
}

body{
    margin:0;
    background-color:powderblue;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: flex-end;
    
}

li {
    
    float:right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: flex-end;
}

li a:hover {
    background-color: #111;
}